<header class="navbar">
  <div class="container nav-inner">
    <h1 routerLink="/" class="logo">🍳 RecipeBook</h1>

    <nav>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
      <a routerLink="/add" routerLinkActive="active">Add</a>
    </nav>
  </div>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p>© {{ currentYear }} RecipeBook — created by Ivan Tymchuk & Denys Morys</p>
</footer>
